<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Food Approvals</title>
</head>
<body>
<h1>Food Approvals</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>식품명</th>
        <th>카테고리 ID</th>
        <th>식품 기원명</th>
        <th>제조사</th>
        <th>1회 제공량</th>
        <th>사용자 이메일</th>
        <th>요청일시</th>
        <th>승인일시</th>
        <th>영양소</th>
        <th>승인</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="approval : ${approvals}">
        <td th:text="${approval.id}"></td>
        <td th:text="${approval.name}"></td>
        <td th:text="${approval.categoryId}"></td>
        <td th:text="${approval.product}"></td>
        <td th:text="${approval.manufacturer}"></td>
        <td th:text="${approval.servingSize}"></td>
        <td th:text="${approval.userEmail}"></td>
        <td th:text="${approval.requestDate}"></td>
        <td th:text="${approval.approvalDate}"></td>
        <td>
            <ul>
                <li th:each="nutrient : ${approval.nutrients}">
                    <span th:text="${nutrient.nutrientName}">Nutrient ID</span> -
                    <span th:text="${nutrient.amount}">Amount</span>
                </li>
            </ul>
        </td>
        <td><a th:href="@{/food-approve/approve/{id}(id=${approval.id})}">Approve</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>