<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>영양 성분 정보</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/common/css/basket.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="favorites p-2">
<!--         즐겨찾기 목록 (for문으로 반목문 처리해서 뿌려주면 될듯)-->
        <section >
            <span class="star">⭐</span>
            <select>
                <option value="#">즐겨찾기 목록</option>
                <option value="새우">새우</option>1
                <option value="브로콜리">브로콜리</option>
                <option value="복숭아">복숭아</option>
            </select>
        </section>
    </div>
    <ul class="nav nav-tabs section-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="daily-tab" data-toggle="tab" href="#daily" role="tab" aria-controls="daily" aria-selected="true">일일 권장 섭취량</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="bmr-tab" data-toggle="tab" href="#bmr" role="tab" aria-controls="bmr" aria-selected="false">기초대사량</a>
        </li>
    </ul>
    <div class="tab-content p-1" id="myTabContent">
        <div class="tab-pane fade show active" id="daily" role="tabpanel" aria-labelledby="daily-tab">
            <div class="nutrition-info">
                <h2>영양정보</h2>
                <table>
                    <thead>
                    <tr>
                        <th>총 내용량</th>
                        <th><input class="kcal" value="0" readonly>kcal</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>나트륨 <input class="amount">mg</td>
                        <td><input class="percent" value="100" readonly>%</td>
                    </tr>
                    <tr>
                        <td>탄수화물 <input class="amount">g</td>
                        <td><input class="percent" value="100" readonly>%</td>
                    </tr>
                    <tr>
                        <td>당류 <input class="amount">g</td>
                        <td><input class="percent" value="100" readonly>%</td>
                    </tr>
                    <tr>
                        <td>지방 <input class="amount">g</td>
                        <td><input class="percent" value="100" readonly>%</td>
                    </tr>
                    <tr>
                        <td>트랜스지방 <input class="amount">g</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>포화지방 <input class="amount">g</td>
                        <td><input class="percent" value="100" readonly>%</td>
                    </tr>
                    <tr>
                        <td>콜레스테롤 <input class="amount">mg</td>
                        <td><input class="percent" value="100" readonly>%</td>
                    </tr>
                    <tr>
                        <td>단백질 <input class="amount">g</td>
                        <td><input class="percent" value="100" readonly>%</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="bmr" role="tabpanel" aria-labelledby="bmr-tab">
            <!-- 기초대사량 내용 -->
            <div class="barsel">
                <h2>영양정보</h2>
                <table>
                    <thead>
                    <tr>
                        <th>총 내용량</th>
                        <th><input class="amount">kcal</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input class="percent" value="100" readonly>%</td>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="footer p-2">
        1일 영양성분 기준치에 대한 비율(%)은 2,000kcal 기준이므로 개인의 필요열량에 따라 다를 수 있습니다.
    </div>

    <!--   담긴 식품     -->
    <div class="food">
        <table>
            <tbody>
                <tr>
                    <td>1. 새우: 열량: 45kcal, 콜레스테롤: 45mg ... fasdfsdafasdfsd</td>
                    <td><button>삭제</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="submit">
        <button type="submit">등록</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
