.header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}
.basket{
    width:80%;
}
.favorites {
    margin-bottom: 10px;
}
.star {
    margin-right: -5px;
    margin-left: -23px;
}
.section-tabs .nav-link.active {
    background-color: #f7f7f7;
    border-bottom: 1px solid #000;
    text-align: center;
}
.section-tabs .nav-link {
    text-align: center;
}
.section-tabs .nav-item {
    flex: 1;
    padding: 1px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
}
.nutrition-info table, .basel table {
    width: 100%;
    border-collapse: collapse;
}
.nutrition-info h2, .basel h2{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 0px;
}
.nutrition-info th, .nutrition-info td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}
.nutrition-info th:nth-child(2), .basel th:nth-child(2) {
    text-align: right;
}
.nutrition-info td:nth-child(2), .basel td:nth-child(2){
    text-align: right;
}
.basel th{
    border-bottom: 1px solid #ddd;
    padding: 8px;
}
.basel td{
    padding: 8px;
}
.footer {
    text-align: left;
    font-size: 15px;
    color: #777;
    margin-top: 10px;
}

.amount {
    width: 50px;
    height: 22px;
    text-align: right;
}
.kcal {
    width: 50px;
    height: 22px;
    text-align: right;
    border: none;
    font-weight: bold;
    white-space: nowrap;
}
.percent {
    width: 50px;
    height: 22px;
    text-align: right;
    border: none;
}
.food {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
}
.food table {
    width: 100%;
}
.food button {
    white-space: nowrap; /* 줄바꿈 방지*/
    border-radius: 5px;
    background-color: yellowgreen;
    margin-left: auto;
    font-size: 15px;
}
.submit{
    text-align: right;
    margin-top: 15px;
    padding: 2px;
}
.submit button {
    border-radius: 5px;
    background-color: yellowgreen;
}
.input-wrapper {
    display: inline-flex;
    align-items: center;
    margin-left: 7px;
}

.input-wrapper input.amount {
    margin-right: 1px; /* input과 단위 사이의 간격 조절 */
}
.chart-nutri{
    width : 80%;!important;
    height : 60%;!important;
}
.baselMetabolism{
    display: flex;
}
.over-limit {
    color: red;
}
.totalKcal {
    font-weight: bold;
    color: black;
}
.totalKcal.over {
    color: red;
}
progress {
    width: 100%; /* progress bar의 너비를 조정 */
    height: 30px; /* progress bar의 높이를 조정 */
}
progress.over {
    --webkit-progress-value-color: red;
    --webkit-progress-bar-color: red;
}