/*** 즐겨찾기 제외식품 추가***/
/*body {
    font-family: "Gamja Flower", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}*/
#food-wrap-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.food-bookmark button {
    background: none;
    border: none;
    padding: 0.5rem; /* 버튼의 클릭 영역을 늘림 */
    cursor: pointer;
}
.food-exclude i {
    color: gray;
    transition: color 0.2s;
    font-size: 3rem; /* 아이콘 크기 조정 */
}
.food-exclude.excluded i {
    color: red;
}
.food-favorite i {
    color: gray;
    transition: color 0.2s;
    font-size: 3rem; /* 아이콘 크기 조정 */
}
.food-favorite.favorited i {
    color: gold;
}
.amount{ /*food_detail 영양성분표 js 참고*/
    text-align: center;
    white-space: nowrap;
}
.nutrientname{
    text-align: center;
}
.nt-header{
    text-align: center;
}
table {
    width: 20%; /* 테이블의 너비를 50%로 설정 */
    margin: 5px; /* 테이블을 가운데 정렬 */
    border-collapse: separate; /* 테이블 경계선을 분리 */
    border-radius: 8px; /* 테이블 모서리를 둥글게 설정 */
    border: 1px solid #ffb524; /* 테이블 셀 경계선 색상 */
    overflow: hidden;
    background-color: #f4f6f8;
}
th {
    text-align: center;
}
th, td {
    border: 1px solid #ffb524; /* 테이블 셀 경계선 색상 */
    padding: 8px; /* 셀 내부 여백 */
    border-left: none; /* 왼쪽 경계선을 제거 */
    border-top: none; /* 위쪽 경계선을 제거 */
}
tr:last-child td {
    border-bottom: none; /* 마지막 행의 오른쪽 경계선을 제거 */
}
th:last-child, td:last-child {
    border-right: none; /* 마지막 셀의 오른쪽 경계선을 제거 */
}
.progress {
    width: 100%; /* 진행 바 컨테이너 너비 */
    background-color: #ffffff; /* 진행 바 배경 색 */
}
#nutritablerow{
    display: flex;
    flex-wrap: wrap;
}
#nutritablerow2{
    display: flex;
    flex-wrap: wrap;
}
.nutri-col{
    padding:25px;
}
#nutri-row{
    display: flex;
    justify-content: flex-end; /* 요소를 오른쪽에 정렬 */
}
.progress-bar {
    width: 0%; /* 시작 너비 */
    height: 20px; /* 진행 바 높이 */
    background-color: #4caf50; /* 진행 바 색 */
}

