.unit{
    display: flex;
    justify-content: space-between;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}
.container-nutri{
    display: flex;
    justify-content: space-between;
    margin-right: 5% !important;
}
.shop-header{
  width: 75% !important;
}
.ct-container{
  width: 100%;
}
.bs-container{
    width: 17%;
    margin-top: 8.3%;
  position: fixed;
  z-index: 1000;
  white-space: nowrap;
  /*left: 50%;*/
  transform: translateX(500%);
}
.middle {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.slider {
  position: relative;
  z-index: 1;
  height: 10px;
  margin: 0 15px;
}

.slider > .track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #cefa7e;
}

.slider > .range {
  position: absolute;
  z-index: 2;
  left: 25%;
  right: 25%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #81c408;
}

.slider > .thumb {
  position: absolute;
  z-index: 3;
  width: 20px;
  height: 20px;
  background-color: #81c408;
  border-radius: 50%;
}

.slider > .thumb.left {
  left: 25%;
  transform: translate(-10px, -5px);
}
.slider > .thumb.right {
  right: 25%;
  transform: translate(10px, -5px);
}

input[type="range"] {
  position: absolute;
  /* opacity로 가린 것을 이벤트도 비활성화하기 위해 */
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 10px;
  width: 100%;
  opacity: 0;
}

input[type="range"]::-webkit-slider-thumb {
  /* 겹쳐진 두 thumb를 모두 활성화 */
  pointer-events: all;
  width: 20px;
  height: 20px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  cursor: pointer;
  /* appearance를 해야 위의 스타일들을 볼 수 있음 */
  -webkit-appearance: none;
}
